.dropdown-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(148, 158, 164, 0.30) 0px 8px 24px;
    cursor: pointer;
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.1rem;
}

.button-open {
    border: #b22222 2px solid;
}

