.stats-bar-container {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: start;
}

.buttons-container {
    background-color: rgb(226, 225, 225);
    width: fit-content;
    border-radius: 2rem;
    display: flex;    
    margin: 0 auto 20px;
    
}

.button-stats-mode {
    padding: 5px 30px;
    border: transparent;
    border-radius: 2rem;
    background-color: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}


.button-selected {
    background-color: #b22222;
    color: #fff;
}

#last-row-second-col {
    text-align: end;
}
